p {
    text-align: center;   
    color: rgb(177, 158, 52);
}

img { 
animation: rotate 2s linear;
display: block;
margin-left: auto;
margin-right: auto;
}

h1 {
text-align: center; 
color: rgb(14, 14, 196);
font-family: cursive;
}

body {
text-align: center;
}

@keyframes rotate {
from {
  transform: rotate(0deg);
} 
to {
  transform: rotate(360deg);
}
}