p {
text-align: center;   
color: rgb(177, 158, 52);
}

img { 
animation: rotate 2s linear;
display: block;
margin-left: auto;
margin-right: auto;
}

h1 {
background-color: aqua;
text-align: center; 
color: rgb(111, 214, 128);
font-family: cursive;
}

body {
background-color: aquamarine;
text-align: center;
}

@keyframes rotate {
from {
  transform: rotate(0deg);
} 
to {
  transform: rotate(360deg);
}
}

question{
  padding: 100;
  margin: 400;
}

button{
color: blue;
background-color: rgb(12, 48, 48);
border-color: rgb(12, 48, 48);
}